@{
    ViewData["Title"] = "Medication Add";
    Layout = "_LayoutAdmin";
}
@model DEMO.ViewModels.MedicationListViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>

    <!-- DataTables CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">

    <!-- DataTables JS -->
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css">

    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>

    <title>Medication Add</title>
</head>
<body>
    <div class="container">
        <main role="main" class="pb-5">
            <div class="row" style="width:auto">
                <div class="col">
                    <div class="p-3 mt-5 border" style="background-color: white;">
                        <form id="addMedicationForm" method="post" action="@Url.Action("AddMedication", "Admin")">
                            <div class="form-group row">
                                <div class="col-4">
                                    <h1>Medication Page</h1>
                                </div>
                            </div>
                                <div class="form-group row">
                                
                                <div class="col-4">
                                     <label for="medicationName" class="form-label">Medication Name</label>
                                    <input type="text" class="form-control" name="medicationName" placeholder="Enter Medication Name" style="width:300px">
                                </div>
                                <div class="col-4">
                               
                                    <label for="medicationForm" class="form-label">Medication Form</label>
                                    <select class="form-control" name="medicationForm" style="width:300px">
                                        <option value="">Select a Description</option>
                                        <option value="Capsules">Capsules</option>
                                        <option value="Drops">Drops</option>
                                        <option value="Gel">Gel</option>
                                        <option value="Injectable">Injectable</option>
                                        <option value="IV Drip">IV Drip</option>
                                        <option value="Lotion">Lotion</option>
                                        <option value="Spray">Spray</option>
                                        <option value="Suppository">Suppository</option>
                                        <option value="Suspension">Suspension</option>
                                        <option value="Syrup">Syrup</option>
                                        <option value="Tablets">Tablets</option>

                                       
                                    </select>
                                </div>
                                <div class="col-4">
                                    <label for="schedule" class="form-label">Schedule</label>
                                    <select class="form-control" name="schedule" style="width:300px">
                                        <option value="">Select a Description</option>
                                        <option value="1">Schedule 0</option>
                                        <option value="1">Schedule 1</option>
                                        <option value="2">Schedule 2</option>
                                        <option value="3">Schedule 3</option>
                                        <option value="4">Schedule 4</option>
                                        <option value="5">Schedule 5</option>
                                        <option value="6">Schedule 6</option>
                                    </select>
                                </div>

                                <div class="form-group row">
                                    <div class="col-4">
                                        <br />
                                        <button type="button" id="openMedicationButton" class="btn btn-primary">Add</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row" style="width:auto">
                <div class="col">
                    <div class="p-3 mt-5 border" style="background-color: white;">
                        <table id="medicationTable" class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Medication Name</th>
                                    <th scope="col">Medication Form</th>
                                    <th scope="col">Schedule</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var Medication in Model.AllMedication)
                                {
                                    <tr>
                                        <td width="15%">@Medication.MedicationName</td>
                                        <td width="15%">@Medication.MedicationForm</td>
                                        <td width="15%">@Medication.Schedule</td>
                                        <td>
                                            <div class="w-100 btn-group" role="group">
                                                <a class="btn btn-primary"
                                                   data-bs-toggle="modal"
                                                   data-bs-target="#activeIngredientModal"
                                                   data-medication-id="@Medication.MedicationID">Add Active Ingredient</a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- Confirmation ADD Medication Modal -->
            <div class="modal fade" id="confirmMedicationModal" tabindex="-1" role="dialog" aria-labelledby="confirmMedicationModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="confirmMedicationModalLabel">Confirm Save</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to add this Medication?
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="saveMedicationButton" class="btn btn-primary">Yes</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" id="cancelSaveButton">No</button>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Modal Active Ingredient Structure -->
            <div class="modal fade modal-lg" id="activeIngredientModal" tabindex="-1" aria-labelledby="activeIngredientModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="activeIngredientModalLabel">Enter Active Ingredient Details</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form id="activeIngredientForm" method="post" action="@Url.Action("AddActiveingredient", "Admin")">
                                <div class="form-group row">
                                    <input type="hidden" id="MedicationID" name="MedicationID" />

                                 <div class="col-4">
                                        <label for="activeingredientName" class="form-label">Active Ingredient Name</label>
                                         <select class="form-control" id="activeingredientName" name="activeingredientID" style="width:250px" required>
                                         <option value="">Select an active ingredient</option>
                                            @foreach (var ingredient in Model.ActiveIngredients)
                                            {
                                          <option value="@ingredient.ActiveingredientID">@ingredient.ActiveIngredientName</option>
                                            }
                                          </select>
</div>
                                  <div class="col-4">
                                        <label for="activeingredientStrength" class="form-label">Active Ingredient Strength(In mg)</label>
                                        <input type="number" class="form-control" id="activeingredientStrength" name="activeingredientStrength" style="width:250px" required>
                                    </div>
                                </div>


                                    <div class="form-group row">
                                    <div class="col-4">
                                        <br />
                                        <button type="button" id="mainSaveActiveIngredientButton" class="btn btnbtn-primary">Save</button>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col">
                                        <div class="p-3 mt-5 border" style="background-color: white;">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>Medication Name</th>
                                                        <th>Active Ingredient Name</th>
                                                        <th>Active Ingredient Strength</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="ingredientTableBody">
                                                    @foreach (var MedicationActiveIngredient in Model.AllMedicationActiveIngredients)
                                                    {
                                                        <tr>
                                                            <td>@MedicationActiveIngredient.MedicationName</td>
                                                            <td>@MedicationActiveIngredient.ActiveIngredientName</td>
                                                            <td>@MedicationActiveIngredient.ActiveIngredientStrength</td>
                                                             <td>
                                                                 <div class="w-100 btn-group" role="group">
                                                                    <a class="btn btn-warning">Remove</a>
                                                                 </div>
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                        </div>
                   
                </div>
            </div>


            <!-- Confirmation ActiveIngredient Modal -->
            <div class="modal fade" id="confirmActiveIngredientModal" tabindex="-1" role="dialog" aria-labelledby="confirmActiveIngredientModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="confirmActiveIngredientModalLabel">Confirm Save</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to add this Active Ingredient?
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="saveActiveIngredientButton" class="btn btn-primary">Yes</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" id="cancelSaveButton">No</button>
                        </div>
                    </div>
                </div>
            </div>

            <script>
                $(document).ready(function () {
                    $('#medicationTable').DataTable();
                });

                // Handle 'Add Medication Code' button click
                $('#openMedicationButton').on('click', function () {
                    $('#confirmMedicationModal').modal('show');
                });
                // Ensure 'No' button closes the confirmation modal
                $('#cancelSaveButton').on('click', function () {
                    $('#confirmMedicationModal').modal('hide');
                });
                // Handle confirmation of saving Medication code
                $('#saveMedicationButton .btn-primary').on('click', function () {
                    $.ajax({
                        url: '@Url.Action("AddMedication", "Admin")',
                        type: 'POST',
                        data: $('#addMedicationForm').serialize(),
                        success: function (response) {
                            // Redirect to the treatment codes list after successful addition
                            window.location.href = '@Url.Action("ListMedication", "Admin")';
                        },
                        error: function (xhr, status, error) {
                            console.log("Error occurred:", error);
                        }
                    });
                });




                $('#activeIngredientModal').on('show.bs.modal', function (event) {
                    var button = $(event.relatedTarget); // Button that triggered the modal
                    var medicationId = button.data('medication-id');

                    var modal = $(this);
                    modal.find('input[name="MedicationID"]').val(medicationId);
                });




                // Handle 'Add Treatment Code' button click
                $('#mainSaveActiveIngredientButton').on('click', function () {
                    $('#confirmActiveIngredientModal').modal('show');
                });
                // Ensure 'No' button closes the confirmation modal
                $('#cancelSaveButton').on('click', function () {
                    $('#confirmEditModal').modal('hide');
                });
                // Handle confirmation of saving treatment code
                $('#saveActiveIngredientButton').on('click', function () {
                    $.ajax({
                        url: '@Url.Action("AddActiveingredient", "Admin")',
                        type: 'POST',
                        data: $('#activeIngredientForm').serialize(),
                        success: function (response) {
                            window.location.href = '@Url.Action("ListMedication", "Admin")';
                        },
                        error: function (xhr, status, error) {
                            console.log("Error occurred:", error);
                        }
                    });
                });

            </script>
        </main>
    </div>
</body>
</html>
