@{
    ViewData["Title"] = "Discharge Patients";
    Layout = "_LayoutNurse";
}
@* @model DEMO.ViewModels.PatientListViewModal *@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admissions List</title>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <style>
        .container {
            padding-top: 50px;
        }
    </style>
</head>
<body>
    <div class="container">
        <main role="main" class="pb-5">
            <div class="row" style="width:1200px">
                <div class="col">
                    <div class="p-3 mt-2 border">

                        <form>
                            <h2>Discharge List</h2>
                            <div class="form-group row">
                                <div class="col-4">
                                    <label for="searchInput" class="form-label">Name or Surname</label>
                                    <input type="text" class="form-control" id="searchInput" placeholder="Name or Surname" style="width:300px">
                                </div>
                                <div class="col-4 align-self-end">
                                    <button type="submit" asp-action="AdmittedPatients" asp-controller="Nurse" class="btn btn-primary" style="width:70px">Search</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row" style="width:1200px">
                <div class="col">
                    <div class="p-3 mt-5 border">
                        <table id="example" class="display" style="width:100%">
                            <thead>
                                <tr>
                                    
                                    <th scope="col">Name</th>
                                    <th scope="col">Surname</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Time</th>
                                    <th scope="col">Ward</th>
                                    <th scope="col">Bed</th>
                                    <th scope="col">Number</th>
                                    <th scope="col">Nurse FullName</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                                    <tr>
                                        @* <td width="15%">@Patient.IDNumber</td>
                                        <td width="15%">@Patient.Name</td>
                                        <td width="15%">@Patient.Surname</td>
                                        <td width="15%">@Patient.Gender</td>
                                        <td width="15%">@Patient.ContactNumber</td>
                                        <td width="15%">@Patient.Email</td>
                                        <td>
                                            <div class="w-100 btn-group" role="group">
                                                <a class="btn btn-primary"
                                                   data-toggle="modal"
                                                   data-target="#bookSurgeryModal"
                                                   data-name="@Patient.Name"
                                                   data-surname="@Patient.Surname"
                                                   data-patient-id="@Patient.PatientID">Book Surgery</a>
                                            </div>
                                    </td> *@
                                    <tr>
                                        <td>0120526958</td>
                                        <td>Jin</td>
                                        <td>Woo</td>
                                        <td>25/05/2025</td>
                                        <td>08:00 AM</td>
                                        <td>Cardiology</td>
                                        <td>101</td>
                                        <td>12345</td>
                                        <td>Ariana Grande</td>
                                        <td>

                                            <a class="btn btn-primary" aria-hidden="true" asp-controller="Nurse" asp-action="Discharge">Discharge Patient</a>
                                        </td>
                                    </tr>
                                   
                                
                                   
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </main>
    </div>
    <script>
        $(document).ready(function () {
            var table = $('#example').DataTable({
                "language": {
                    "zeroRecords": "No matching records found"
                }
            });

            $('#searchInput').on('keyup', function () {
                var searchText = this.value.trim().toLowerCase();
                table.rows().every(function () {
                    var data = this.data();
                    var name = data[1].toLowerCase();
                    var surname = data[2].toLowerCase();
                    if (name.includes(searchText) || surname.includes(searchText)) {
                        $(this.node()).show();
                    } else {
                        $(this.node()).hide();
                    }
                });
            });
        });
    </script>
</body>
</html>