@{
    ViewData["Title"] = "Patient List";
    Layout = "_Layout2";
}
@model DEMO.ViewModels.PatientListViewModal
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient List</title>

    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">

    <!-- jQuery -->
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>

    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- DataTables JS -->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>

    <style>
        #example_wrapper {
            display: none;
        }

        .modal-lg-custom {
            max-width: 90% !important; /* Adjust as necessary */
            width: 1000px; /* Fixed width, or adjust as needed */
            
        }


        .modal-dialog-centered {
            display: flex;
            align-items: center;
            min-height: calc(100% - 60px); /* Adjust based on header/footer height */
            height: 80vh;
        }

        .modal-content {
            flex: 1;
           
        }

        .modal-content-custom{
            position: relative;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-direction: column;
            flex-direction: column;
            width: 105%;
            pointer-events: auto;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid rgba(0, 0, 0, .2);
            border-radius: .3rem;
            outline: 0;
            height: 61vh;
        }
           
       

        .modal-body {
            overflow-y: auto; /* Enables scrolling if content overflows */
            flex: 1 1 auto;
        }

        .row {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            margin-right: -2px;
            margin-left: 0px;
        }
    </style>
</head>
<body>
    <!-- Main list-->
    <div class="container">
        <main role="main" class="pb-5">
            <div class="row" style="width:auto">
                <div class="col">
                    <div class="p-3 mt-5 border" style="background-color: white;">
                        <form id="searchForm" >
                            <h2>Patient List</h2>
                            <div class="form-group row">
                                <div class="col-4">
                                    <br>
                                    <label for="exampleFormControlInput1" class="form-label">ID number</label>
                                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="ID number" style="width:300px">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-4">
                                    <br>
                                    <button type="button" class="btn btn-success" style="width:160px;" data-toggle="modal" data-target="#addPatientModal">Add New Patient</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="row" style="width:auto">
                <div class="col">
                    <div class="p-3 mt-5 border" style="background-color: white;">
                        <!-- Your table content here -->
                        <table id="example" class="table display">
                            <thead>
                                <tr>
                                    <th scope="col">ID number</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Surname</th>
                                    <th scope="col">Gender</th>
                                    <th scope="col">Contact Number</th>
                                    <th scope="col">E-Mail</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var Patient in Model.AllPatients)
                                {
                                    <tr>
                                        <td width="15%">@Patient.IDNumber</td>
                                        <td width="15%">@Patient.Name</td>
                                        <td width="15%">@Patient.Surname</td>
                                        <td width="15%">@Patient.Gender</td>
                                        <td width="15%">@Patient.ContactNumber</td>
                                        <td width="15%">@Patient.Email</td>
                                        <td>
                                            <div class="w-100 btn-group" role="group">
                                                <a class="btn btn-primary"
                                                   data-toggle="modal"
                                                   data-target="#bookSurgeryModal"
                                                   data-name="@Patient.Name"
                                                   data-surname="@Patient.Surname"
                                                   data-patient-id="@Patient.PatientID">Book Surgery</a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                               
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <!-- book Surgery Modal -->
    <div class="modal fade" id="bookSurgeryModal" tabindex="-1" role="dialog" aria-labelledby="bookSurgeryModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="bookSurgeryModalLabel">Book Surgery</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="f-1">
                    <form id="bookingForm" method="post" action="@Url.Action("BookSurgery", "Home")">
                       
                        <div class="form-group row">
                            <div class="col-4">
                                <br>
                                <label for="nameInput" class="form-label">Name</label>
                                <input type="text" class="form-control" id="nameInput" name="Name" disabled style="width:250px">
                            </div>
                            <div class="col-4">
                                <br>
                                <label for="surnameInput" class="form-label">Surname</label>
                                <input type="text" class="form-control" id="surnameInput" name="Surname" disabled style="width:250px">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-4">
                                <br>
                                <label for="surgeonName" class="form-label">Surgeon Name</label>
                                <input type="text" class="form-control" id="surgeonName" name="SurgeonName" style="width:250px" value="@ViewBag.UserName @ViewBag.UserSurname" disabled>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-4">
                                <br>
                                <label for="surgeryDate" class="form-label">Surgery Date</label>
                                <input type="date" class="form-control" id="surgeryDate" name="SurgeryDate" style="width:250px">
                            </div>
                            <div class="col-4">
                                <br>
                                <label class="form-label">Surgery Time</label>
                                <div id="SurgeryTime" class="form-control" style="width:250px; padding: 10px; display: flex; justify-content: space-around; align-items: center;">
                                    <div class="form-check" style="margin: 0;">
                                        <input class="form-check-input" type="radio" name="SurgeryTime" id="AM" value="AM">
                                        <label class="form-check-label" for="AM">AM</label>
                                    </div>
                                    <div class="form-check" style="margin: 0;">
                                        <input class="form-check-input" type="radio" name="SurgeryTime" id="PM" value="PM">
                                        <label class="form-check-label" for="PM">PM</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <br>
                                <label for="Theater" class="form-label">Theater</label>
                                <div id="Theater" class="form-control" style="width:250px; padding: 10px; display: inline-table; justify-content: space-around; align-items: center;">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="Theater" id="Dove Theatre" value="Dove Theatre">
                                        <label class="form-check-label" for="Dove Theatre">Dove Theatre</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="Theater" id="Eagle Theatre" value="Eagle Theatre">
                                        <label class="form-check-label" for="Eagle Theatre">Eagle Theatre</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="Theater" id="Hadida Theatre" value="Hadida Theatre">
                                        <label class="form-check-label" for="Hadida Theatre">Hadida Theatre</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" id="PatientID" name="PatientID">
                        <input type="hidden" id="AccountID" name="AccountID" value="@ViewBag.UserAccountID">
                        <div class="modal-footer">
                            <button type="button" id="openConfirmModalButton" class="btn btn-primary">Save</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
              </div>
        </div>
    </div>
   
    <!-- Confirmation Modal for Book Surgery -->
    <div class="modal fade" id="confirmBookSurgeryModal" tabindex="-1" role="dialog" aria-labelledby="confirmBookSurgeryModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmBookSurgeryModalLabel">Confirm Booking</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to book this surgery?
                </div>
                <div class="modal-footer">
                    <button type="button" id="confirmBookSurgeryButton" class="btn btn-primary">Yes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
 
    <!-- ModalAddPatient --> 
    <div class="modal fade" id="addPatientModal" tabindex="-1" role="dialog" aria-labelledby="addPatientModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addPatientModalLabel">Add Patient</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="addPatientForm" method="post" action="@Url.Action("RegisterPatient", "Home")">
                        <div class="form-group row">
            <div class="col-4">
                <label for="nameInput" class="form-label">Name</label>
                <input type="text" class="form-control" name="Name" placeholder="Enter Name">
            </div>
            <div class="col-4">
                <label for="surnameInput" class="form-label">Surname</label>
                <input type="text" class="form-control" name="Surname" placeholder="Enter Surname">
            </div>
            <div class="col-4">
                <label for="idNumberInput" class="form-label">ID Number</label>
                <input type="text" class="form-control" name="IdNumber" placeholder="Enter ID Number">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">

                <label for="gender" class="form-label">Gender</label>
                <div id="gender" class="form-control" style="width:250px; padding: 10px; display: flex; justify-content: space-around; align-items: center;">
                    <div class="form-check" style="margin: 0;">
                        <input class="form-check-input" type="radio" name="Gender" value="Male">
                        <label class="form-check-label" for="male">Male</label>
                    </div>
                    <div class="form-check" style="margin: 0;">
                        <input class="form-check-input" type="radio" name="Gender" value="Female">
                        <label class="form-check-label" for="female">Female</label>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <label for="emailInput" class="form-label">Email</label>
                <input type="text" class="form-control" name="Email" placeholder="Enter Email">
            </div>
            <div class="col-4">
                <label for="ContactNumberInput" class="form-label">Contact Number</label>
                <input type="text" class="form-control" name="ContactNumber" placeholder="Enter Contact Number">
            </div>
        </div>
    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" id="mainSavePatientButton" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

  
    <!-- Confirmation Modal -->
    <div class="modal fade" id="confirmSaveModal" tabindex="-1" role="dialog" aria-labelledby="confirmSaveModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmSaveModalLabel">Confirm Save</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to save this patient?
                </div>
                <div class="modal-footer">
                    <button type="button" id="savePatientButton" class="btn btn-primary">Yes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="cancelSaveButton">No</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        // Handle the "Save" button click in the Book Surgery Modal
        $('#bookSurgeryModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget); // Button that triggered the modal
            var patientID = button.data('patient-id'); // Extract the PatientID from data-* attributes
            var name = button.data('name');
            var surname = button.data('surname');

            // Update the modal's content
            var modal = $(this);
            modal.find('#nameInput').val(name);
            modal.find('#surnameInput').val(surname);
            modal.find('#PatientID').val(patientID);
        });

        // Show confirmation modal before submitting the booking form
        $('#openConfirmModalButton').on('click', function () {
            $('#confirmBookSurgeryModal').modal('show'); // Show confirmation modal
        });

        // Handle the "Yes" button click in the confirmation modal
        $('#confirmBookSurgeryButton').on('click', function () {
            $('#bookingForm').submit(); // Submit the form
        });
    </script>

    <script>
        $(document).ready(function () {
            // Initialize DataTable
            var table = $('#example').DataTable({
                "language": {
                    "zeroRecords": "No matching records found"
                }
            });
                      
            // Handle 'Save' button click
            $('#mainSavePatientButton').on('click', function () {
                $('#confirmSaveModal').modal('show');
            });

            // Ensure 'No' button closes the confirmation modal
            $('#cancelSaveButton').on('click', function () {
                $('#confirmSaveModal').modal('hide');
            });

            // Custom search function for the search input
            $('#exampleFormControlInput1').on('keyup', function () {
                var searchText = this.value.trim(); // Trim whitespace
                if (searchText === '') {
                    $('#example_wrapper').hide(); // Hide table if search input is empty
                } else {
                    $('#example_wrapper').show(); // Show table if search input is not empty
                    table.search(searchText).draw();
                    if (table.page.info().recordsDisplay === 0) {
                        $('#example_wrapper').hide();
                    }
                }
            });
        });
        function Next1(){
            $('#f-1, #f-2').toggle('slow','swing')
        }
        function Next2() {
            $('#f-2, #f-1').toggle('slow', 'swing')
        }
    </script>
    <script>
        function filterTreatmentNames() {
            let input = document.getElementById('searchTreatmentInput').value.toLowerCase();
            let treatmentSelect = document.getElementById('treatmentSelect');
            let options = treatmentSelect.getElementsByTagName('option');
            for (let i = 0; i < options.length; i++) {
                let txtValue = options[i].textContent || options[i].innerText;
                if (txtValue.toLowerCase().indexOf(input) > -1) {
                    options[i].style.display = "";
                } else {
                    options[i].style.display = "none";
                }
            }
        }
    </script>
    <script>
        function updateTreatmentCode() {
            var treatmentSelect = document.getElementById('treatmentSelect');
            var treatmentCodeSelect = document.getElementById('treatmentCode');

            var treatmentCodes = {
                "Drainage of Abscess": "10060",
                "Debridement": "11400",
                "Arthroscopy": "29876"
            };

            var selectedTreatment = treatmentSelect.value;
            var selectedCode = treatmentCodes[selectedTreatment];

            // Set the selected code in the treatment code dropdown
            for (var i = 0; i < treatmentCodeSelect.options.length; i++) {
                if (treatmentCodeSelect.options[i].value === selectedCode) {
                    treatmentCodeSelect.selectedIndex = i;
                    break;
                }
            }
        }

        // Initialize the treatment code based on the default selected treatment name
        document.addEventListener('DOMContentLoaded', function () {
            updateTreatmentCode();
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#savePatientButton').on('click', function () {
                $.ajax({
                    url: '@Url.Action("RegisterPatient", "Home")',
                    type: 'POST',
                    data: $('#addPatientForm').serialize(),
                    success: function (response) {
                        // Handle success response
                        window.location.href = '@Url.Action("PatientList", "Home")'; // Redirect to Patient List
                    },
                    error: function (xhr, status, error) {
                        // Handle error response
                        console.log(error);
                    }
                });
            });
        });
    </script>
</body>
</html>
