
@{
    ViewData["Title"] = "Add Medication";
    Layout = "_Layout2";
}
@model DEMO.ViewModels.PrescriptionMedicationViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Medication</title>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>

    <!-- DataTables JS -->
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>

    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <!-- Sidebar -->
    <div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasSidebar" aria-labelledby="offcanvasSidebarLabel">
        <div class="offcanvas-header">
            <h3 id="offcanvasSidebarLabel">Patient Information</h3>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>

        <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                    <p style="font-size: 1.2rem;">Name: @Model.PatientInfo.Name</p>
                </li>
                <li class="nav-item">
                    <p style="font-size: 1.2rem;">Surname: @Model.PatientInfo.Surname</p>
                </li>
                <li class="nav-item">
                    <p style="font-size: 1.2rem;">Gender: @Model.PatientInfo.Gender</p>
                </li>
                <li class="nav-item">
                    <p style="font-size: 2rem;">_______________________</p>
                </li>

                <li class="nav-item">
                    <p>Medical History</p>
                    <p>
                        Medical Conditions:
                        @if (Model.Conditions != null && Model.Conditions.Any())
                        {
                            <ul>
                                @foreach (var condition in Model.Conditions)
                                {
                                    <li>@condition.ConditionName</li>
                                }
                            </ul>
                        }
                        else
                        {
                            <span>None</span>
                        }
                    </p>

                    <p>
                        Allergies:
                        @if (Model.Allergies != null && Model.Allergies.Any())
                        {
                            <ul>
                                @foreach (var allergy in Model.Allergies)
                                {
                                    <li>@allergy.ActiveIngredientName</li>
                                }
                            </ul>
                        }
                        else
                        {
                            <span>None</span>
                        }
                    </p>

                    <p>
                        Current Medication:
                        @if (Model.CurrentMedications != null && Model.CurrentMedications.Any())
                        {
                            <ul>
                                @foreach (var med in Model.CurrentMedications)
                                {
                                    <li>@med.MedicationName</li>
                                }
                            </ul>
                        }
                        else
                        {
                            <li>None</li>
                        }
                    </p>

                </li>
                <li class="nav-item">
                    <p style="font-size: 2rem;">_______________________</p>
                </li>

                <li class="nav-item">
                    <p style="font-size: 1.2rem;">Latest Vitals</p>
                    <div style="max-height: 300px; overflow-y: auto;">
                        <table class="table table-dark table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Date</th>
                                    <th scope="col">Time</th>
                                    <th scope="col">Height</th>
                                    <th scope="col">Weight</th>
                                    <th scope="col">Temperature</th>
                                    <th scope="col">Blood Pressure</th>
                                    <th scope="col">Pulse Rate</th>
                                    <th scope="col">Respiratory Rate</th>
                                    <th scope="col">Blood Oxygen</th>
                                    <th scope="col">Blood Glucose Level</th>
                                    <th scope="col">Vitals High Limit</th>
                                    <th scope="col">Vitals Low Limit</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>2024-05-14</td>
                                    <td>08:00</td>
                                    <td>175 cm</td>
                                    <td>70 kg</td>
                                    <td>36.5°C</td>
                                    <td>120/80 mmHg</td>
                                    <td>80 bpm</td>
                                    <td>16 breaths/min</td>
                                    <td>98%</td>
                                    <td>90 mg/dL</td>
                                    <td>140/90 mmHg</td>
                                    <td>90/60 mmHg</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div id="main" class="container">
        <main role="main" class="pb-5">
            <div class="row" style="width:auto">
                <div class="col">
                    <div class="p-3 mt-5 border" style="background-color: white;">
                        <form id="addMedicationForm" method="post" action="@Url.Action("AddMedication", "Home")">
                            <h2>Add Medication</h2>
                            <div class="form-group row">
                                <div class="col-4">
                                    <br>
                                    <label for="searchMedicationInput" class="form-label">Medication Name Filter</label>
                                    <input type="text" class="form-control" id="searchMedicationInput" placeholder="Medication Name Filter" style="width:300px" oninput="filterMedicationNames()">
                                </div>
                                <div class="col-4">
                                    <br>
                                    <label for="medicationSelect" class="form-label">Medication Allowed</label>
                                    <select class="form-control" id="medicationSelect" name="MedicationID" style="width:300px" required>
                                        <option value="">Select a Description</option>
                                        @foreach (var medication in Model.AllMedication)
                                        {
                                            <option value="@medication.MedicationID">@medication.MedicationName</option>
                                        }
                                    </select>
                                </div>

                                <div class="form-group row">
                                    <div class="col-4">
                                        <br>
                                        <label for="exampleFormControlInput1" class="form-label">Quantity/Units</label>
                                        <input type="text" class="form-control" id="quantity" name="quantity" placeholder="Add Amount" style="width:300px">
                                    </div>
                                    <div class="col-4">
                                        <br>
                                        <label for="instructionsInput" class="form-label">Instructions</label>
                                        <input type="text" class="form-control" id="instructions" name="instructions" placeholder="Enter Instructions" style="width:600px">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-4">
                                    <br>
                                    <a class="btn btn-danger" aria-hidden="true" asp-controller="Home" asp-action="Prescription">Back</a>
                                </div>
                                <div class="col-4">
                                    <br>
                                    <input type="hidden" id="PrescriptionID" name="PrescriptionID" value="@ViewBag.PrescriptionID">
                                    <button type="button" id="openMedicationButton" class="btn btn-primary">Add</button>
                                </div>
                                <div class="col-4">
                                    <br>
                                    <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSidebar">Patient Info</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="row" style="width:auto">
                <div class="col">
                    <div class="p-3 mt-5 border" style="background-color: white;">
                        <table id="example" class="table display">
                            <thead>
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Surname</th>
                                    <th scope="col">Prescription Date</th>
                                    <th scope="col">Medication Name</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Schedule</th>
                                    <th scope="col">Form</th>
                                    <th scope="col">Instructions</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.CombinedData)
                                {
                                    <tr>
                                        <td>@item.Name</td>
                                        <td>@item.Surname</td>
                                        <td>@item.DateGiven</td>
                                        <td>@item.MedicationName</td>
                                        <td>@item.Quantity</td>
                                        <td>@item.Schedule</td>
                                        <td>@item.MedicationForm</td>
                                        <td>@item.Instructions</td>
                                        <td>@item.Status</td>
                                        <td>
                                            <form asp-action="DeleteMedication" method="post">
                                                <input type="hidden" name="Medid" value="@item.Medid" />
                                                <input type="hidden" name="prescriptionId" value="@ViewBag.PrescriptionID" />
                                                <button type="submit" class="btn btn-danger">Remove</button>
                                            </form>
                                        </td>

                                    </tr>
                                }
                            </tbody>

                            <tfoot>
                                <tr>
                                    <td>
                                        <a class="btn btn-primary" aria-hidden="true" style="width:70px" asp-controller="Home" asp-action="SurgeonHome">Save</a>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>

                </div>
            </div>
            <!-- Confirmation Modal -->
            <div class="modal fade" id="confirmMedicationModal" tabindex="-1" role="dialog" aria-labelledby="confirmMedicationModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="confirmMedicationModalLabel">Confirm Save</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to add this Medication ?
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="saveMedicationButton" class="btn btn-primary">Yes</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" id="cancelSaveButton">No</button>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <script>
        $(document).ready(function () {
            $('#example').DataTable();
        });
        // Handle 'Add Medication Code' button click
        $('#openMedicationButton').on('click', function () {
            $('#confirmMedicationModal').modal('show');
        });
        // Ensure 'No' button closes the confirmation modal
        $('#cancelSaveButton').on('click', function () {
            $('#confirmMedicationModal').modal('hide');
        });
        // Handle confirmation of saving Medication code
        $('#saveMedicationButton').on('click', function () {

            $.ajax({
                url: '@Url.Action("AddMedication", "Home")',
                type: 'POST',
                data: $('#addMedicationForm').serialize(),
                success: function (response) {
                    window.location.href = '@Url.Action("PrescriptionMedication", "Home", new { PrescriptionId = ViewBag.PrescriptionID })';
                },
                error: function (xhr, status, error) {
                    console.log("Error occurred:", error);
                }
            });
        });

    </script>
    <script>
        function filterMedicationNames() {
            const filter = document.getElementById('searchMedicationInput').value.toLowerCase();
            const select = document.getElementById('medicationSelect');
            const options = select.getElementsByTagName('option');

            for (let i = 0; i < options.length; i++) {
                const option = options[i];
                const text = option.text.toLowerCase();
                if (text.includes(filter)) {
                    option.style.display = '';
                } else {
                    option.style.display = 'none';
                }
            }
        }
    </script>
</body>
</html>
