@{
    ViewData["Title"] = "Add Treatment Codes";
    Layout = "_Layout2";
}
@model DEMO.ViewModels.BookingTreatmentCodesViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Treatment Codes</title>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>

    <!-- DataTables CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">

    <!-- DataTables JS -->
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css">

    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <div class="container">
        <main role="main" class="pb-5">
            <div class="row">
                <div class="col">
                    <div class="p-3 mt-5 border bg-white">
                        <form id="addTreatmentForm" method="post" asp-action="AddTreatmentCode" asp-controller="Home">
                            <h2>Add Treatment Codes</h2>

                            <div class="form-group row">
                                <div class="col-4">
                                    <input type="hidden" id="bookingID" name="BookingID" value="@ViewBag.BookSurgeryID" />
                                    <label for="searchTreatmentInput" class="form-label">Search Treatment Description</label>
                                    <input id="searchTreatmentInput" class="form-control" type="search" placeholder="Search Treatment Name" onkeyup="filterTreatmentNames()" style="width:300px">
                                </div>
                                <div class="col-4">
                                    <label for="treatmentSelect" class="form-label">Treatment Description</label>
                                    <select id="treatmentSelect" name="treatmentCodeID" class="form-control" style="width:300px">
                                        <option disabled >Select a Treatment Description</option>
                                        @foreach (var treatment in Model.AllTreatmentCodes)
                                        {
                                            <option value="@treatment.TreatmentCodeID">@treatment.TreatmentName</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-4">
                                  
                                    <button type="button" id="openTreatmentButton" class="btn btn-primary">Add</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="p-3 mt-5 border bg-white">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Surname</th>
                                    <th scope="col">Surgery Date</th>
                                    <th scope="col">Surgery Time</th>
                                    <th scope="col">Theater</th>
                                    <th scope="col">Treatment Description</th>
                                    <th scope="col">Treatment Code</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody id="ingredientTableBody">
                                @foreach (var Data in Model.AllcombinedData)
                                {
                                    <tr>
                                        <td>@Data.Name</td>
                                        <td>@Data.Surname</td>
                                        <td>@Data.SurgeryDate</td>
                                        <td>@Data.SurgeryTime</td>
                                        <td>@Data.Theater</td>
                                        <td>@Data.TreatmentName</td>
                                        <td>@Data.TreatmentCode</td>
                                        <td>
                                        <form asp-action="RemoveTreatmentCode" asp-controller="Home" method="post">
                                                    <input type="hidden" name="btcID" value="@Data.btcID" />
                                                <input type="hidden" name="bookingID" value="@Data.BookingID" />
                                                <input type="hidden" name="name" value="@Data.Name" />
                                                    <input type="hidden" name="surname" value="@Data.Surname" />
                                                    <button type="submit" class="btn btn-danger">Remove</button>
                                        </form>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                       
                            <div class="form-group row">
                                <div class="col-4">
                                    <br>
                                    <a class="btn btn-primary" aria-hidden="true"
                                       asp-controller="Home"
                                       asp-action="SendPatientEmail"
                                       asp-route-bookingID="@Model.BookingID">
                                        Save
                                    </a>
                                </div>
                            </div>

                    </div>
                </div>
            </div>

            <!-- Confirmation Modal -->
            <div class="modal fade" id="confirmTreatmentModal" tabindex="-1" role="dialog" aria-labelledby="confirmTreatmentModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="confirmTreatmentModalLabel">Confirm Add</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to add this treatment?
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="confirmAddTreatmentButton" class="btn btn-primary">Yes</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <script>
        $(document).ready(function () {
            function filterTreatmentNames() {
                var input = $('#searchTreatmentInput').val().toLowerCase();
                $('#treatmentSelect option').each(function () {
                    var treatmentName = $(this).text().toLowerCase();
                    $(this).toggle(treatmentName.includes(input));
                });
            }

            $('#openTreatmentButton').on('click', function () {
                $('#confirmTreatmentModal').modal('show');
            });

            $('#confirmAddTreatmentButton').on('click', function () {
                $('#addTreatmentForm').submit(); // Submit the form
            });


            $('#searchTreatmentInput').on('keyup', filterTreatmentNames);
        });
    </script>
</body>
</html>
