@{
    ViewData["Title"] = "Vitals And History";
    Layout = "_Layout2";
}
@model DEMO.ViewModels.PatientAllergyViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vitals And History</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Include DataTables CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <!-- Include DataTables JS -->
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
</head>
<body>
    <div class="container">
        <main role="main" class="pb-5">
            <div class="row" style="width:auto">
                <div class="col">
                    <div class="p-3 mt-5 border" style="background-color: white;">

                        <form>
                            <h2>Vitals And History -  @ViewBag.PatientName @ViewBag.PatientSurname</h2>                    
                        </form>
                    </div>
                </div>
            </div>
            <div class="row" style="width:auto">
                <div class="col">
                    <div class="p-3 mt-5 border" style="background-color: white;">
                        <!-- Your table content here -->
                        <label for="exampleFormControlInput2" class="form-label">Medical History</label>
                        <label for="exampleFormControlInput2" class="form-label">Vitals</label>
                        <table id="vitalsTable" class="display">
                            <thead>
                                <tr>
                                    <th scope="col">Date</th>
                                    <th scope="col">Time</th>
                                    <th scope="col">Height cm</th>
                                    <th scope="col">Weight kg</th>
                                    <th scope="col">Systolic Blood Pressure mmHg</th>
                                    <th scope="col">Distolic Blood Pressure mmHg</th>
                                    <th scope="col">Heart Rate bpm</th>
                                    <th scope="col">Blood Oxygen %</th>
                                    <th scope="col">Respiration Rate bpm</th>
                                    <th scope="col">Blood Glucose Level mg/dL</th>
                                    <th scope="col">Temperature °C</th>
                          
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Allvitals)
                                {
                                    <tr>
                                        <td>@item.Date</td>
                                        <td>@item.Time</td>
                                        <td>@item.Height</td>
                                        <td>@item.Weight</td>
                                        <td>@item.SystolicBloodPressure</td>
                                        <td>@item.DiastolicBloodPressure</td>
                                        <td>@item.HeartRate</td>
                                        <td>@item.BloodOxygen</td>
                                        <td>@item.Respiration</td>
                                        <td>@item.BloodGlucoseLevel</td>
                                        <td>@item.Temperature</td>
                                    </tr>
                                }
                            </tbody>

                        </table>
                        <label for="exampleFormControlInput2" class="form-label">Medical Conditions</label>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col"> Descriptions</th>
                                  
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.AllCurrentMed)
                                {
                                    <tr>
                                        <td>@item.MedicationName</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                       
                        <br>
                        <label for="exampleFormControlInput2" class="form-label">Allergies</label>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Allergy</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Allallergy)
                                {
                                    <tr>
                                        <td>@item.ActiveIngredientName</td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                        <br>
                        <label for="exampleFormControlInput2" class="form-label">Current Medication</label>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col"> Medication Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.AllConditions)
                                {
                                    <tr>
                                        <td>@item.ConditionName</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        
                        <br>
                      
                    </div>
                </div>
            </div>
        </main>
    </div>
    <script>
        $(document).ready(function () {
            $('#vitalsTable').DataTable();
        });
    </script>
</body>
</html>
