@{
    ViewData["Title"] = "Medication Add";
    Layout = "_LayoutPharmacist";
}

@model DEMO.Models.PharmacistModels.PharmacyMedicationModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>

    <!-- DataTables CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">

    <!-- DataTables JS -->
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css">

    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>




        
    <title>Add Medication</title>
</head>
<body>
    
    <div class="container">
        <main role="main" class="pb-5">
            <div class="row" style="width:auto">
                <div class="col">
                    <div class="p-3 mt-5 border" style="background-color: white;">

 


                        <form asp-action="AddMedication">
                            <div class="form-group row">
                                <div class="col-12">
                                    <center><h1>Add Medication</h1></center>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-4">
                                    <h2>Medication Section</h2>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-4">
                                    <label for="MedicationName" class="form-label">Medication Name</label>
                                    <input type="text" class="form-control" id="MedicationName" name="MedicationName" asp-for="MedicationName" style="width:300px">
                                    <span asp-validation-for="MedicationName" class="text-danger"></span>
                                </div>

                                <div class="col-md-4">
                                    <label for="DosageForm" class="form-label">Dosage Form</label>
                                    <select class="form-control" name="DosageForm" id="DosageForm" asp-for="DosageForm" style="width:300px">
                                        @foreach (var item in Model.PharmMedDF.OrderBy(i => i))
                                        {
                                            <option value="@item">@item</option>
                                        }
                                    </select>
                                    <span asp-validation-for="DosageForm" class="text-danger"></span>
                                </div>

                                <div class="col-md-4">
                                    <label for="Schedule" class="form-label">Schedule</label>
                                    <select class="form-control" name="Schedule" id="Schedule" asp-for="Schedule" style="width:300px">
                                        @foreach (var item in Model.PharmMedSchedule.OrderBy(i => i))
                                        {
                                            <option value="@item">@item</option>
                                        }
                                    </select>
                                    <span asp-validation-for="Schedule" class="text-danger"></span>
                                </div>

                                <div class="col-md-4">
                                    <label for="StockonHand" class="form-label">Stock on Hand</label>
                                    <input type="number" class="form-control" id="StockonHand" name="StockonHand" asp-for="StockonHand" value="@Model.StockonHand" style="width:300px">
                                    <span asp-validation-for="StockonHand" class="text-danger"></span>
                                </div>

                                <div class="col-md-4">
                                    <label for="ReorderLevel" class="form-label">Re-order Level</label>
                                    <input type="number" class="form-control" id="ReorderLevel" name="ReorderLevel" asp-for="ReorderLevel" style="width:300px">
                                    <span asp-validation-for="ReorderLevel" class="text-danger"></span>
                                </div>


                                <!--hide-->
                                <div class="col-md-4" style="display:none;">
                                    <label for="reorderLevel" class="form-label">Re-order Level </label>
                                    <input type="text" class="form-control" id="ReorderLevel" name="ReorderLevel" asp-for="PharmMedDF" value="@Model.PharmMedDF" style="width:300px">
                                    <span asp-validation-for="ReorderLevel" class="text-danger"></span>
                                </div>

                                <div class="col-md-4" style="display:none;">
                                    <label for="reorderLevel" class="form-label">Re-order Level</label>
                                    <input type="text" class="form-control" id="ReorderLevel" name="ReorderLevel" asp-for="PharmMedSchedule" value="@Model.PharmMedSchedule" style="width:300px">
                                    <span asp-validation-for="ReorderLevel" class="text-danger"></span>
                                </div>

                                

                              



                                <!--end of hide-->
                            </div>
                            <br />

                            <!--Dynamic table-->
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <h3>Active Ingredients Section</h3>
                                    <table class="table" id="ingredientsTable">
                                        <thead>
                                            <tr>
                                                <th>Active Ingredient</th>
                                                <th>Strength</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <!-- Dynamic rows will be added here -->
                                        </tbody>
                                    </table>
                                    <button type="button" class="btn btn-secondary style="float:right" onclick="addIngredient()">Add Ingredient</button>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-12 text-center">
                                    <button type="submit" class="btn btn-primary">Add</button>
                                </div>
                            </div>
                        </form>

                   




                      


                       

                    </div>
                </div>
            </div>

            <div class="row" style="width:auto">
                <div class="col">
                    <div class="p-3 mt-5 border" style="background-color: white;">
                        <table id="medicationTable" class="table table-striped">
                            <thead>
                               
                                <tr>
                                    <th scope="col">Medication Name</th>
                                    <th scope="col">Dosage Form</th>
                                    <th scope="col">Schedule</th>
                                    <th scope="col">Stock on Hand</th>
                                    <th scope="col">Reorder level</th>
                                    <th scope="col">IngredientsandStrengths</th>
                                </tr>
                            </thead>
                            <tbody id="medicationsBody">
                              
                              @*   
                                @foreach (var medication in Model.combined)
                                
              
                                {
                                    <tr>
                                    <td>@medication.MedicationName</td>
                                    <td>@medication.DosageForm</td>
                                    <td>@medication.Schedule</td>
                                    <td>@medication.StockonHand</td>
                                    <td>@medication.ReorderLevel</td>
                                    <td>@medication.IngredientandStrength</td>
                                    </tr>
                                }  *@


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            
            
                  
        </main>
    </div>
</body>
</html>








