@{
    ViewData["Title"] = "Pharmacist Script";
    Layout = "_LayoutPharmacist";
}
@model DEMO.ViewModels.PharmacistReportViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookings Page</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css">

    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>

    <style>
        #example {
            display: none;
        }

        .modal-lg-custom {
            max-width: 90% !important;
            width: 1000px;
        }

        .modal-dialog-centered {
            display: flex;
            align-items: center;
            min-height: calc(100% - 60px);
            height: 80vh;
        }

        .modal-content-custom {
            position: relative;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-direction: column;
            flex-direction: column;
            width: 105%;
            pointer-events: auto;
            background-color: #fff;
            border: 1px solid rgba(0, 0, 0, .2);
            border-radius: .3rem;
            height: 61vh;
        }
    </style>
</head>
<body>
    <div class="container">
        <main role="main" class="pb-5">
            <div class="row" style="width:auto">
                <div class="col">
                    <div class="p-3 mt-5 border" style="background-color: white;">
                        <form>
                            <center>
                                <h1>DISPENSARY REPORT</h1>
                            </center>
                            <div class="form-group row">
                                <div class="col-4">
                                    <br>
                                    <label for="StartDateInput" class="form-label">Start Date</label>
                                    <input type="date" class="form-control" id="StartDateInput" style="width:300px">
                                </div>
                                <div class="col-4">
                                    <br>
                                    <label for="EndDateInput" class="form-label">End Date</label>
                                    <input type="date" class="form-control" id="EndDateInput" style="width:300px">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row" style="width:auto">
                <div class="col">
                    <div class="p-3 mt-6 border" style="background-color: white;">
                        <h2>Reports of @ViewBag.UserName @ViewBag.UserSurname:</h2>
                        <h2>Report Generated:<span id="todayDate"></span></h2>
                        <h2>Date Range: <span id="selectedDateRange"></span></h2>

                        <table id="Surgeries" class="table" style="width:100%">
                            <thead>
                                <tr>
                                    <th scope="col">DATE</th>
                                    <th scope="col">PATIENT</th>
                                    <th scope="col">SCRIPT BY</th>
                                    <th scope="col">MEDICATION</th>
                                    <th scope="col">QTY</th>
                                    <th scope="col">STATUS</th>
                                </tr>
                            </thead>
                            <tbody>

                                <!--USE THIS TO SELECT THE LIST OF ITEMS GOING INTO YOUR REPORT-->
                                @foreach (var Data in Model.AllcombinedData)
                                {
                                    <tr>
                                        <td>@Data.PrescriptionDate</td>
                                        <td>@Data.Patient</td>
                                        <td>@Data.Surgeon</td>
                                        <td>@Data.Medication</td>
                                        <td>@Data.qty</td>
                                        <td>@Data.status</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <div class="totals">
                            Total Scripts Dispensed: <span id="totalPatients">0</span>
                        </div>
                        <div class="totals">
                            Total Scripts Rejected: <span id="totalPatients">0</span>
                        </div>

                        <h3>SUMMARY PER MEDICINE:</h3>
                        <table id="Summary" class="table" style="width:100%">
                            <thead>
                                <tr>
                                    <th scope="col">MEDICINE</th>
                                    <th scope="col">QTY ORDERED</th>
                                </tr>
                            </thead>
                            <tbody id="summaryBody">
                                @* This will be populated by JavaScript after filtering *@
                            </tbody>
                        </table>
                        <br>
                    </div>
                    <a class="btn btn-primary" style="width:100px" aria-hidden="true" onclick="generatePDF()">Print</a>
                </div>
            </div>
        </main>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            function filterByDate() {
                var startDate = document.getElementById('StartDateInput').value;
                var endDate = document.getElementById('EndDateInput').value;
                var uniquePatients = new Set();

                document.getElementById('summaryBody').innerHTML = '';
                var totalPatients = 0;

                var rows = document.querySelectorAll('#Surgeries tbody tr');
                rows.forEach(function (row) {
                    var rowDate = row.cells[0].textContent;
                    var formattedRowDate = new Date(rowDate).toISOString().split('T')[0];
                    var patientName = row.cells[1].textContent;

                    if ((startDate && formattedRowDate < startDate) || (endDate && formattedRowDate > endDate)) {
                        row.style.display = 'none';
                    } else {
                        row.style.display = ''; // Show row
                        uniquePatients.add(patientName);

                        var treatmentName = row.cells[2].textContent;
                        var treatmentCode = row.cells[3].textContent;

                        updateSummary(treatmentName, treatmentCode);
                    }
                });

                document.getElementById('totalPatients').textContent = uniquePatients.size;
            }

            function updateSummary(treatmentName, treatmentCode) {
                var summaryBody = document.getElementById('summaryBody');
                var existingRow = Array.from(summaryBody.querySelectorAll('tr')).find(function (row) {
                    return row.dataset.treatmentCode === treatmentCode;
                });

                if (existingRow) {
                    var countCell = existingRow.querySelector('td:last-child');
                    countCell.textContent = parseInt(countCell.textContent) + 1;
                } else {
                    var newRow = document.createElement('tr');
                    newRow.dataset.treatmentCode = treatmentCode;

                    newRow.innerHTML = `
                                        <td>${treatmentName}</td>
                                        <td>${treatmentCode}</td>
                                        <td>1</td>
                                    `;
                    summaryBody.appendChild(newRow);
                }
            }

            function displaySelectedDates() {
                var startDate = document.getElementById('StartDateInput').value;
                var endDate = document.getElementById('EndDateInput').value;
                var today = new Date().toLocaleDateString();

                document.getElementById('todayDate').textContent = today;
                document.getElementById('selectedDateRange').textContent = startDate + ' to ' + endDate;
            }

            document.getElementById('StartDateInput').addEventListener('change', function () {
                filterByDate();
                displaySelectedDates();
            });

            document.getElementById('EndDateInput').addEventListener('change', function () {
                filterByDate();
                displaySelectedDates();
            });

            filterByDate();
            displaySelectedDates();
        });
    </script>

    <script>
        function generatePDF() {
            var element = document.querySelector('.p-3.mt-6.border');//The Form you are trying to make a pdf

            var opt = {
                margin: 1,
                filename: 'report.pdf',
                image: { type: 'jpeg', quality: 0.98 },
                html2canvas: { scale: 2 },
                jsPDF: {
                    unit: 'in',
                    format: 'letter',
                    orientation: 'landscape',
                },
                pagebreak: { mode: ['avoid-all', 'css', 'legacy'] }
            };

            function addPageNumbers(pdf) {
                const pageCount = pdf.internal.getNumberOfPages();

                for (let i = 1; i <= pageCount; i++) {
                    pdf.setPage(i);
                    const text = "Page " + i + " of " + pageCount;
                    const pageWidth = pdf.internal.pageSize.width || pdf.internal.pageSize.getWidth();
                    const pageHeight = pdf.internal.pageSize.height || pdf.internal.pageSize.getHeight();
                    const xOffset = (pageWidth - pdf.getStringUnitWidth(text) * pdf.internal.getFontSize() / pdf.internal.scaleFactor) / 2;
                    const yOffset = pageHeight - 0.5;
                    pdf.text(text, xOffset, yOffset);
                }
            }

            html2pdf().from(element).set(opt).toPdf().get('pdf').then(function (pdf) {
                addPageNumbers(pdf);
            }).save();
        }
    </script>
</body>
</html>
