@{
    ViewData["Title"] = "View Medication";
    Layout = "_LayoutPharmacist";
}

@model DEMO.ViewModels.PharmacyMedicationViewModel

<!--MedicationTable on the same view-->
<div class="row" style="width:auto">
    <div class="col">
        <div class="p-3 mt-5 border" style="background-color: white;">
            <center> <h2> Medication Table</h2></center>
            <table class="table ">
                <thead>

                    <tr>
                        <th scope="col">Medication Name</th>
                        <th scope="col">Dosage Form</th>
                        <th scope="col">Schedule</th>
                        <th scope="col">Stock on Hand</th>
                        <th scope="col">Reorder level</th>
                        <th scope="col">IngredientsandStrengths</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model.combinedinfo)
                    {
                        <tr>@item.MedicationName</tr>
                        <tr>@item.MedicationForm</tr>
                        <tr>@item.Schedule</tr>
                        <tr>@item.StockonHand</tr>
                        <tr>@item.ReorderLevel</tr>







                    }




                </tbody>
            </table>
        </div>
    </div>
</div>