@{
    ViewData["Title"] = "AllActivePrescriptions";
    Layout = "_LayoutPharmacist";
}



@model DEMO.ViewModels.ViewActivePrescriptionsModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prescription</title>


    <style>
        .highlight-urgent {
            background-color:red; /* Light red background for urgent items */
        }

        .highlight-low-stock {
            background-color: blue; /* Light yellow background for low stock items */
        }
    </style>

</head>
<body>
    
    <!--Table-->
    <div class="container">
        <main role="main" class="pb-5">
            <div class="row" style="width:auto">
                <div class="col">
                    <div class="p-3 mt-5 border">
                        <h2><center>All Prescrptions</center></h2>
                        <table id="example" class="table display" style="width:100%">
                            <thead>
                                <tr>
                                    <th scope="col">Patient Name</th>
                                    <th scope="col">Patient Surname</th>
                                    <th scope="col">Surgeon Name</th>
                                    <th scope="col">Surgeon Surname</th>
                                    <th scope="col">Date Given</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Urgent</th>
                                   
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model.combinedData)
                              {
                                  
                                    <tr >
                                        <td>@item.Name</td>
                                        <td>@item.Surname</td>
                                        <td>@item.SurgeonName</td>
                                        <td>@item.SurgeonSurname</td>
                                        <td>@item.DateGiven</td>
                                        <td>@item.Status</td>
                                  
                                        <td >
                                            @item.Urgency
                                        </td>

                                        
                                        
                                      
                                        



                                  </tr>

                              }
                               
                            </tbody>
                        </table>
@*                         <a class="btn btn-primary" aria-hidden="true" asp-controller="Pharmacist" asp-action="PharmacistHomePage">Back</a>
 *@                    </div>
                </div>
            </div>
        </main>
    </div>
</body>
</html>