@{
    ViewData["Title"] = "Individual Prescription";
    Layout = "_LayoutPharmacist";
    var medicationInteractionAlert = ViewBag.MedicationInteractionAlert as string;

}

 @model DEMO.ViewModels.PharmacistViewScriptModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prescription View</title>

    <script>
        function filterTable(inputId, tableId) {
            const input = document.getElementById(inputId).value.toLowerCase();
            const table = document.getElementById(tableId);
            const rows = table.getElementsByTagName('tr');

            for (let i = 1; i < rows.length; i++) {
                const cells = rows[i].getElementsByTagName('td');
                let rowContainsText = false;

                for (let j = 0; j < cells.length; j++) {
                    if (cells[j]) {
                        const cellText = cells[j].textContent || cells[j].innerText;
                        if (cellText.toLowerCase().indexOf(input) > -1) {
                            rowContainsText = true;
                            break;
                        }
                    }
                }
                rows[i].style.display = rowContainsText ? '' : 'none';
            }
        }

       

   


    <style>
        body {
            font-family: Arial, sans-serif;
        }

        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.5);
        }

        .modal-content {
            background-color: #fefefe;
            margin: 15% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 300px;
        }

        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

            .close:hover,
            .close:focus {
                color: black;
                text-decoration: none;
                cursor: pointer;
            }
    </style>

    <style>
        .medical-history-form {
            border: 2px solid #000; /* Black border */
            padding: 20px; /* Space inside the border */
            border-radius: 8px; /* Optional: rounded corners */
            margin: 20px; /* Optional: space outside the border */
        }
    </style>



    <style>
        /* The Modal (background) */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

        /* Modal Content/Box */
        .modal-content {
            background-color: #fefefe;
            margin: 15% auto; /* 15% from the top and centered */
            padding: 20px;
            border: 1px solid #888;
            width: 80%; /* Could be more or less, depending on screen size */
        }

        /* The Close Button */
        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

            .close:hover,
            .close:focus {
                color: black;
                text-decoration: none;
                cursor: pointer;
            }

        /* Modal Header */
        .modal-header {
            padding: 2px 16px;
            background-color: #5cb85c;
            color: white;
        }

        /* Modal Body */
        .modal-body {
            padding: 2px 16px;
        }

        /* Modal Footer */
        .modal-footer {
            padding: 2px 16px;
            background-color: #5cb85c;
            color: white;
        }
    </style>

    <link rel="stylesheet" href="@Url.Content("~/Content/Styles/bootstrap.min.css")" asp-append-version="true">
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />

  

</head>



<body>
    

    <center>
        <h1>Prescription for</h1>
    </center>

    

  
        <center>
            <h2>@Model.combinedData.First().patientname     @Model.combinedData.First().patientsurname </h2>
        </center>


   


    <form method="post" action="@Url.Action("ViewSpecificPrescription","Pharmacist")" >


      
        @Html.AntiForgeryToken()

       

       
       
        <!-- Medical History -->



            <center><h1>Medical History</h1></center>





            <div class="form-group row">
                <div class="col-md-4">
                    <table id="conditionsTable" class="table display" style="width:100%">
                        <thead>
                            <tr>
                                <th scope="col">
                                    Conditions
                                    <input type="text" id="searchc" onkeyup="filterTable('searchc', 'conditionsTable')" placeholder="Search condition" />
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.AllConditions)
                            {
                                <tr>
                                    <td>@item</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <div class="col-md-4">
                    <table id="medicationsTable" class="table display" style="width:100%">
                        <thead>
                            <tr>
                                <th scope="col">
                                    Current Medications
                                    <input type="text" id="searchm" onkeyup="filterTable('searchm', 'medicationsTable')" placeholder="Search medication" />
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.AllCurrentMed)
                            {
                                <tr>
                                    <td>@item</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <div class="col-md-4">
                    <table id="allergiesTable" class="table display" style="width:100%">
                        <thead>
                            <tr>
                                <th scope="col">
                                    Allergies
                                    <input type="text" id="searcha" onkeyup="filterTable('searcha', 'allergiesTable')" placeholder="Search allergy" />
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Allallergy)
                            {
                                <tr>
                                    <td>@item</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>











       

        <!-- Vitals History -->

        <div class="container-left">
            <main role="main" class="pb-5">
                <div class="row" style="width:auto">
                    <div class="col">

                        <div class="p-3 mt-5 border">
                            <h2><center>Vitals</center></h2>

                            <center><input type="text" id="searchv" onkeyup="filterTable('searchv', 'myTable')" placeholder="Search vital" /></center>
                            <center>
                            </center>
                            <table id="myTable" class="table display" style="width:100%">
                                <thead>
                                    <tr>


                                        <th scope="col">Height(cm)</th>
                                        <th scope="col">Weight(kg)</th>
                                        <th scope="col">Systolic Blood Pressure (mmHg)</th>
                                        <th scope="col">Distolic Blood Pressure (mmHg)</th>
                                        <th scope="col">Heart Rate (bpm)</th>
                                        <th scope="col">Blood Oxygen %</th>
                                        <th scope="col">Respiration Rate (bpm)</th>
                                        <th scope="col">Blood Glucose Level (mg/dL)</th>
                                        <th scope="col">Temperature °C</th>
                                        <th scope="col">Time Taken</th>

                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in Model.combinedData)
                                    {

                                        <tr>
                                            <!-- Assuming TimeTaken is a property in your model -->
                                            <td>@item.Height</td>
                                            <td>@item.Weight</td>
                                            <td>@item.SystolicBloodPressure</td>
                                            <td>@item.DiastolicBloodPressure</td>
                                            <td>@item.HeartRate</td>
                                            <td>@item.BloodOxygen</td>
                                            <td>@item.Respiration</td>
                                            <td>@item.BloodGlucoseLevel</td>
                                            <td>@item.Temperature</td>
                                            <td>@item.Time</td>



                                        </tr>



                                        
                                    }


                                </tbody>
                            </table>

                        </div>

                    </div>
                </div>
            </main>
        </div>


        <div class="container-left">
            <main role="main" class="pb-5">
                <div class="row" style="width:auto">
                    <div class="col">

                        <div class="p-3 mt-5 border">
                            <h2><center>Prescription</center></h2>
                            <center>
                            </center>
                            <table id="myTable" class="table display" style="width:100%">
                                <thead>
                                    <tr>


                                        <th scope="col">Patient</th>
                                        <th scope="col">Surgeon</th>
                                        <th scope="col">Date given</th>



                                    </tr>
                                </thead>
                                <tbody>





                                    <tr>

                                        <td>@Model.combinedData.First().patientname @Model.combinedData.First().patientsurname</td>
                                        <td>@Model.combinedData.First().SurgeonName @Model.combinedData.First().SurgeonSurname</td>



                                        <td>@Model.combinedData.First().Date</td>







                                    </tr>


                                    <tr>


                                        <th scope="col">Medications</th>
                                        <th scope="col">Quantities</th>
                                        <th scope="col">Instructions</th>




                                    </tr>


                                    @foreach (var item in Model.allmedicationinfo)
                                    {
                                        <tr>
                                            <td>@item.medication</td>
                                            <td>@item.qty</td>
                                            <td>@item.Instructions</td>
                                        </tr>
                                    }








                                </tbody>
                            </table>

                        </div>

                    </div>
                </div>
            </main>
        </div>


        <input type="hidden" name="pid" asp-for="PrescriptionID" value="@ViewBag.ScriptID" />
        <input type="hidden" name="pharmid2" asp-for="pharmacistID" value="@ViewBag.UserAccountID" />
        
        <button type="submit"

               
                class="btn btn-primary">Dispense
        </button>




    </form>

    <center>
        <button type="button" onclick="showTextArea()">Reject Prescription</button>

        <!-- Text Area and Save Button (Initially hidden) -->
        <div id="textAreaContainer" style="display:none;">
            <input type="text" placeholder="Enter reason here..." 
            name="rejectionMessage" asp-for="rejectscriptreason"></input><br>

            <button  id="RejectScriptButton" type="submit" ">Reject</button>
        </div>


        <form id="infoForm" method="POST" action="@Url.Action("ViewSpecificPrescriptionReject","Pharmacist")">


            <input type="hidden" name="info" id="infoInput" />
        </form>
    </center>
    

    <script>
        // Function to show the textarea and save button
        function showTextArea() {
            document.getElementById("textAreaContainer").style.display = "block";
           
        }

        

        
    </script>


  



    



    <a class="btn btn-primary" aria-hidden="true" asp-controller="Pharmacist" asp-action="ViewAllActivePrescriptionsPage">Back</a>

    </body>

</html>
